<!DOCTYPE html>
<html lang="en">

    <% include ./partials/headers %>
</head>
<body>
    <% include ./partials/navbar %>
    <form action="/investors/approve?cId=<%=company.id%>" method="POST" style="border:1px solid #ccc">
        <div class="container">
          <h1>Approval Form</h1>
        
          <label for="name"><b>Company </b></label><br>
          <input type="string" value="<%= company.name %>" name="name" readonly>
            <br>
          <label for="borrowed"><b>Amount Requested</b></label><br>
          <input type="integer" value="<%= company.borrowed%>" name="borrowed" readonly>
            <br>
            <b>Invest Amount</b><br>
                <select name="invested">
                  <% for(var i = 100 ; i<=company.borrowed ; i += 100){ %>
                    <option value="<%= i %>"><%=i%></option>
                  <%}%>
                </select>
            <br>
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">Agree The Terms
          </label>
          <div class="clearfix">
            <button type="reset" class="cancelbtn">Cancel</button>
            <button type="submit" class="invstbtn">Invest</button>
          </div>
        </div>
        </form> 
</body>
</html>