<html>
<%- include ./partials/headers.ejs %>
<%- include ./partials/navbar.ejs %>
</head>
<body>

<% if(session.Company){ %>
    <table style="width: 100% ">
            <tr>
                <th style="text-align: center">ID</th>
                <th style="text-align: center">Your Name</th>
                <th style="text-align: center">Amount Borrowed</th>
                <th style="text-align: center">Options</th>
            </tr>
                
            <tr>
                <td style="text-align: center"><%= session.Company.data.id %></td>
                <td style="text-align: center"><%= session.Company.data.name %></td>
                <td style="text-align: center"><%= format$(session.Company.data.borrowed) %></td>
                <td style="text-align: center"><a href="/companies/edit/<%= session.Company.data.id %>">Change Password</a></tr>
            </tr>
        </table>
<% } %>
<br>
<br>
